

.header{
    justify-content: center;
    align-content: center;
    float: center;
    margin-left: 40%;
}

.hazardType{
    margin-left:30%;
    justify-content: center;
    align-content: center;
}

.tags button{  
    background-color:lightblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
}

.tags button:hover{
    cursor: pointer;
}

.tags button:focus{
    background-color: darkblue;
}

.tags button a:visited{
    background-color: darkblue;
}

.form{
    margin-left:30%;
    justify-content: center;
    align-content: center;
    align-content: center;
}
.textInput input{
    border: grey 1px solid;
    border-radius: 5px;
    padding: 10px;
    width: 500px;
}

.submit button{
    background-color:lightblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
}

.submit{
    float:right;
    margin-top:1%;
    margin-right:35%;
}

.hazardType button{
    display:block;
    justify-content: center;
    align-content: center;
    margin-top:2%;
    margin-left:15%;
    width:300px;
    padding:5px;
}

.hazardType button:hover{
    display:block;
    justify-content: center;
    align-content: center;
    margin-left:15%;
    margin-top:2%;
    cursor: pointer;
}